$primary-200: #fd3e60;
$primary-100: #fdecef;

.table {
  table {
    margin: 25px auto;
    border-collapse: collapse;
    width: 100%;
  }

  table tr:hover {
    background: $primary-100;
  }

  tr:hover td {
    color: #555;
  }

  table th,
  table td {
    color: #999;
    border: 1px solid #eee;
    padding: 12px 10px;
    border-collapse: collapse;
  }

  table th {
    background: $primary-200;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
  }

  table th:last-child {
    border-right: none;
  }
}
